body{
margin: 0px;

background: lightcyan;
background-repeat: no-repeat;
background-attachment: fixed;



}
h1{
    font-family: sans-serif;
    margin-left: 5px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px;
}

#box{

    border: 1px solid;
    height: 50px;
    width: clamp(10%, 20%, 250%);
    font-size: 100%;
    text-align: center;

    margin-right: auto;
    margin-left: auto;

    position: sticky;
    top: 0px;
    z-index: 3;
    cursor: pointer;
    

    float: left;
}
p{
   word-wrap: break-word;

   font-family: 'Times New Roman', Times, serif;
   margin-left: 5px;
}
button{
    background-color: lightblue;
}
button:hover{
    color: azure;
}
button:active{
    
    background-color: black;
}
h2{
    margin-top:3%
}
img{
    float:right ;
    margin: 1%;
    height: 300px;
    width: 200px;
}

#gameBoard{

  border: 3px solid;  


}
#Snake{
text-align: center;

}
#retry{

font-family: "permant Marker";
font-size: 22px;
width: 100px;
height: 50px;
border: 4px solid;
cursor: pointer;


}
